
@import "formatos/reset";
@import "formatos/breackpoints";

@import "formatos/header";
@import "formatos/footer";
@import "formatos/body-main";




.img_logo  {

    width: 200px;
    height: 90px;
    filter: drop-shadow(15px 10px 3px orange);
}







.bannerIMG {
    width: 100%;
    height: 60vh;
    position: relative;
}


#Imagenes .img {
    width: 100%;
    height: 100%;
}


#maincontacto  {
    width: 1920px;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    margin-top: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
}



.contacto-contacto_map {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    border: 0px black solid; 
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2% 10%;
    animation-fill-mode: forwards;

}

.Contacto-contacto_2 {

    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
}





.contacto-contacto_1  {
    width: auto;
    height: auto;
    align-items: center;
    padding: 10px;
    border: 2px;
}








#imagenes img :nth-child(3) a:hover {
    color: blue;
}


#maincomocomprar {
    width: 1920px;
    height: auto;
    background-color: white;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: auto;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Compraa {
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: auto;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#Maincatalogo {

    width: 1920px;
    height: auto;
    background-color: white;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: auto;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}









.cat1 {
    align-items: center;
    justify-content: space-around;
    padding: auto;
    margin-top: auto;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





