
@import "formatos/reset";
@import "formatos/breackpoints";

@import "formatos/header";
@import "formatos/footer";
@import "formatos/body-main";




.img_logo  {

    width: 200px;
    height: 90px;
    filter: drop-shadow(15px 10px 3px orange);
}

.img_logo {
    width: 200px;
    height: 90px;
    margin: 2% 10%;
    filter: drop-shadow(15px 10px 3px orange);
}






.bannerIMG {
    width: 100%;
    height: 60vh;
    position: relative;
}


#Imagenes .img {
    width: 100%;
    height: 100%;
}





















#imagenes img :nth-child(3) a:hover {
    color: blue;
}








