#animaciones {
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animacionesbox1 , .animacionesbox2 , .animacionesbox3{
    display: flex;
    gap: 20px;
}
.caja {
    width: 100px;
    height: 100px;
    background-color: white;
    transition: 1s;
}

/*TIPO DE GRADIENTES*/

.animacionesbox1 .animacionCaja1 {
    background-image: linear-gradient(blue , yellow);
}
.animacionesbox1 .animacionCaja2 {
    background-image: linear-gradient(to right, blue , yellow);
}

.animacionesbox1 .animacionCaja3 {
    background-image: linear-gradient(to left, blue , yellow);
}

.animacionesbox1 .animacionCaja4 {
    background-image: radial-gradient(aqua , green)
}
.animacionesbox1 .animacionCaja5 {
    background-image: radial-gradient(ellipse 50px 10px, aqua , orange);
}

/*TRANSFORMACIONES*/

/* TRANSLATE=
1- EL PRIMER VALOR, DESPLAZA (ejex)
2- EL SEGUNDO VALOR, DESPLAZA (EJEy)

                          x         Y
3-VALORES POSITIVOS:     Derecha   /Abajo
4-VALORES NEGATIVOS      Izquierda /Arriba                       


*/

.animacionesbox2 .animacionCaja1:hover {
    transform: translate(-30px , 20px);
    transition: 1s;
}

.animacionesbox2 .animacionCaja2:hover {
    transform: translateY(-5px);
}